.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.11rem;
  background-color: var(--white);
  color: var(--primary-dark);
}

.about-text {
  flex: 1;
  padding-right: 1.11rem;
}

.about-title {
  font-size: 1.94em;
  font-weight: 900;
  margin-bottom: 2.91rem;
  color: var(--primary-dark);
}

.about-description {
  font-size: 1em;
  line-height: 1.5;
  color: var(--primary-dark);
}

.about-image {
  flex: 1;
  max-width: 100%; /* Limit the width of the image container */
  overflow: hidden; /* Hide overflow content */
}

.about-image img {
  width: 100%; /* Force the image to fit the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the entire space */
  border-radius: 3rem;
}
