.content-card {
  flex: 0 0 calc(50% - 3rem);
  margin: 1.5rem;
  padding: 2rem;
  box-shadow: 0 0.75rem 2rem rgba(83, 76, 138, 0.1);
  background-color: var(--white-accent);
  border-radius: 3rem;
  text-align: center;
}
