.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.contact-card {
  flex: 0 0 calc(50% - 30px);
  margin: 15px;
  padding: 20px;
  box-shadow: 0 0.75em 2em rgba(83, 76, 138, 0.1);
  background-color: #fdfffc;
  border-radius: 3em;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  margin: 10px;
  padding: 5px;
}

.contact-info {
  margin-top: 30px;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
}
