.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-card {
  flex: 0 0 calc(100% - 30px);
  margin: 15px;
  padding: 20px;
  box-shadow: 0 0.75em 2em rgba(83, 76, 138, 0.1);
  background-color: #fdfffc;
  border-radius: 3em;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  margin: 10px;
  padding: 5px;
  width: 90%;
}

.contact-info {
  margin-top: 30px;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
}

.center-content-grid {
  display: grid;
  place-items: center;
}

/* Responsive Styles */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 100%;
  }
}
