/* Reusable Button Styles */
.btn {
  margin-top: 1em;
  padding: 1em 2em;
  font-size: var(--font-body-bold);
  font-weight: var(--font-weight-body-bold);
  border-radius: 1.375em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn.btn-primary {
  background-color: var(--primary-dark);
  color: var(--white);
}

.btn.btn-primary:hover {
  background-color: var(--secondary-highlight);
  color: var(--primary-dark);
}

.btn.btn-secondary {
  background-color: var(--secondary-highlight);
  color: var(--primary-dark);
}

.btn.btn-secondary:hover {
  background-color: var(--secondary-highlight);
  color: var(--white);
}
