/* Footer Base Styles */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: var(--primary-dark);
  color: var(--white);
}

/* Left Section */
.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-logo {
  width: 200px;
}

.footer-description {
  font-size: 1rem;
}

/* Social Icons */
.social-media-links {
  display: flex;
  gap: 1em;
}

/* Right Section */
.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
