/* Reset and Basic Styles */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
  background-color: var(--white);
  font-family: "Aileron", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global Utility Classes */

.text-center {
  text-align: center;
}

.flex-between-center {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

/* CSS Variables */

:root {
  --primary-dark: #221f33;
  --dark-accent: #2d294a;
  --grey: #534c8a;
  --secondary-highlight: #8f83ed;
  --white: #fbf8ff;
  --white-accent: #fdfffc;

  /* Typography */
  --font-title: 5.875em;
  --font-h1: 4.5em;
  --font-h2: 2.5em;
  --font-subtitle: 1.5em;
  --font-body-bold: 1.125em;
  --font-p: 1.125em;
  --font-caption-bold: 1.125em;

  --font-weight-title: 900;
  --font-weight-h1: 700;
  --font-weight-h2: 700;
  --font-weight-subtitle: 500;
  --font-weight-body-bold: 700;
  --font-weight-p: 300;
  --font-weight-caption-bold: 700;
}

/* Link Styles */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Button Styles */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

/* Media Queries */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.center-content {
  max-width: 90em;
  margin: 0 auto;
}
